---

---

<div id="voice_ai">
    <div id="outer_div">
        <div id="inner_div"></div>
    </div>
</div>
<style>
    #voice_ai {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0px 0;
    }

    #inner_div,
    #outer_div {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
    }

    #outer_div {
        width: 50px;
        height: 50px;
        border: 6px #708fff69 solid;
        border-radius: 50%;
    }

    #inner_div {
        width: 40px;
        height: 40px;
        border-style: solid;
        border-color: #708fff8c;
        border-width: 6px;
        border-radius: 50%;
    }
</style>
